$primary: #fd7131;
$primary-hover: #fd713190;
$accent: #005e16;
$black: #2f2f2f;
$white: #ffffff;
$muted: #6c6c6c;
$grey: #cdcdcd;
$light-color: #fffaee;
$bg-color: #fffaee;

$breakpoints: (
  sm: 425px,
  md: 767px,
  lg: 992px,
);
